* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Open Sans', sans-serif;
}

#nav-button, #apply-button, #book-button {
    color: white;
    padding: 10px;
    width: 144px;
    font-size: 1.1rem;
    font-weight: 500;
    border-color: transparent;
    border-radius: 25px;
}

nav {
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.right-nav {
    float: right;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

.nav-logo{
    margin: 5px;
    padding: 5px;
}

.right-nav .nav{
    margin: 5px;
    padding: 5px;
}

 #logo {
    padding-top: 5px;
    padding-left: 5px;
 }

 #nav-button {
    background-color:#c2195b;
 }

#bg-image {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding-top: 80px;
    padding-bottom:430px;
    color: white;
}

.container {
    text-align: right;
    width: 40%;
    float: right;
    position: relative;
    left: -120px;
}

.title {
    font-family: Zilla Slab, sans-serif;
    font-size: 3rem;
    font-weight: 600;
}

.subtitle {
    width: 75%;
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: auto;
    margin-top: 20px;
}

#apply-button {
    margin-top: 20px;
    background-color: #c2195b;
}

#main{
    padding-top: 50px;
    text-align: center;
}

.title-2{
    font-family: Zilla Slab, sans-serif;
    font-size: 1.8rem;
}

.description{
    font-weight: 300;
    margin: 50px;
}

#book-button {
    margin-top: 10px;
    background-color: #4682B4;
}

footer{
    margin-top: 35px;
    padding: 20px;
    text-align: center;
}
footer span{
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 200;
}

